<div class="overlay" *ngIf="isShowContent">

    <div class="redirect-text" routerLink="/home">
        <span>Create your own Link/Message </span>
    </div>

    <div class="message">
        <span>404: Gone! 😮</span>
    </div>
    <div class="monkey-image">
        <img src="https://img.pngio.com/monkey-icons-noun-project-monkey-black-and-white-png-200_200.png">

    </div>
    <div class="timeout">
        This message may or may not have existed. We can't be sure.
    </div>
</div>

<div class="loading" *ngIf="!isShowContent">
    Loading...
</div>